.njt-tk-admin-content {
  background-color: #ffff;
  padding-left: 20px;
  margin: 0px 20px 0px 0;
}
.njt-tk-settting-width {
  width: 80%;
}
#toplevel_page_tiktok_video_downloader .wp-menu-image img{
  width: 20px;
  height: 20px;
  padding-top: 6px;
 }